{% extends "base.html.twig" %}

{% block title %}
{{ article.title }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
{% endblock %}

{% block body %}
    <article>
        <h1>{{ article.getTitle(app.request.locale) }}</h1>
        {% for content in article.articleContents  %}
            <div>{{ content.content | raw }}</div>
        {% endfor %}
    </article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

